<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>人生ゲーム - プレイ</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>

<body class="game-page">
<div class="game-container">

    <div class="game-main">
        <div class="map-area box-border">
            マップ
            <div class="zoom-btns">
                <button>+</button>
                <button>-</button>
            </div>
        </div>

        <div class="bottom-area">
            <div class="roulette-container box-border">
                <button class="roulette-circle">まわす</button>
            </div>
            <div class="game-logo box-border">人生ゲーム</div>
        </div>
    </div>

    <aside class="info-sidebar box-border">
        <details>
            <summary>ユーザー</summary>
            <ul>
                <li><button type="button" class="user-link" data-id="101">田中 太郎</button></li>
                <li><button type="button" class="user-link" data-id="102">佐藤 花子</button></li>
            </ul>
        </details>
        <ul class="status-info">
            <li>・ ゴールまでの距離：</li>
            <li>・ 職業：</li>
            <li>・ 所持金：</li>
            <li>・ 配偶者の有無：</li>
            <li>・ 子供の数：</li>
            <li>・ 持ち会社：</li>
        </ul>
    </aside>


</div>
</body>
</html>